#!/bin/bash

## 创建管理员用户并删除默认账号
function createUser(){
  cqlsh {{ inventory_hostname }} -u{{ cassandra_superuser_name }} -p'{{ cassandra_superuser_password }}' -e quit 2>&1
  if [ $? -eq 0 ]; then
    echo "用户存在登录验证成功"
  else
    echo "用户不存在创建用户"
    cqlsh {{ inventory_hostname }} -ucassandra -pcassandra -e "create user {{ cassandra_superuser_name }} with password '{{ cassandra_superuser_password }}' superuser;"
    echo "删除默认cassandra用户"
    cqlsh {{ inventory_hostname }} -u{{ cassandra_superuser_name }} -p'{{ cassandra_superuser_password }}' -e "drop user cassandra;"
  fi
}

## 查看数据库是否存在
function createKeyspace(){
   cqlsh {{ inventory_hostname }} -u{{ cassandra_superuser_name }} -p'{{ cassandra_superuser_password }}' -e "DESCRIBE keyspaces;" | grep -q $1
   if [ $? -ne 0 ]; then
      echo "$1 数据库不存在，创建数据库"
      cqlsh {{ inventory_hostname }} -u{{ cassandra_superuser_name }} -p'{{ cassandra_superuser_password }}' -e "CREATE KEYSPACE IF NOT EXISTS $1 WITH replication = {'class' : 'SimpleStrategy', 'replication_factor':1};"
   else
      echo "$1 数据库存在,不能重复创建"
   fi
}

## 检查服务是否启动，没启动延时90s
function checkStart(){
  netstat -ano | grep -q 9042 &> /dev/null
  if [ $? -eq 0 ]; then
     echo "服务已经启动！"
  else
     sleep 90s
     echo "服务没有启动!"
  fi
}

checkStart
createUser

{% if cassandra_create_keyspaces is defined and cassandra_create_keyspaces != None %}
{% for name in cassandra_create_keyspaces %}
createKeyspace {{ name }}
{% endfor %}
{% endif %}


