#!/bin/bash

# 创建外部访问root账号
function createUser(){
  mysql -u root -p'{{ mysql_root_password }}'  -e "SELECT DISTINCT CONCAT(User,'@',host) FROM mysql.user;" |grep -q root@%
  if [ $? -ne 0 ]; then
      echo "root@% 用户不存在，创建root@%用户"
      mysql -u root -p'{{ mysql_root_password }}' -e "
        CREATE USER 'root'@'%' IDENTIFIED BY '{{ mysql_root_password }}';
        GRANT ALL PRIVILEGES ON *.* TO 'root'@'%' WITH GRANT OPTION;
        flush privileges;
      "
  else
    echo "root@% 用户存在"
  fi
}


# 创建数据库
function createDatabase() {
  mysql -u root -p'{{ mysql_root_password }}' -e 'show databases;' | grep -q $1
  if [ $? -ne 0 ]; then
    echo "$1 数据库不存在，创建数据库"
    mysql -u root -p'{{ mysql_root_password }}' -e "CREATE DATABASE $1 default character set utf8; use $1; source {{ mysql_rpm_dir }}/$2; "
  else
    echo "$1 数据库存在"
  fi
}

# 替换数据库内容
function replaceContent(){
  if [ ! -n "$2" ] ;then
    echo "替换内容不能为空"
  else
    content=$2
    sed -i "s/${content}/g" {{ mysql_rpm_dir }}/$1
    echo "替换完毕"
  fi
}


createUser

{% if database_replace_content is defined and database_replace_content != None %}
{% for item in database_replace_content %}
replaceContent {{ item.databaseFile }} {{ item.replaceContent }}
{% endfor %}
{% endif %}

{% if mysql_create_databases is defined and mysql_create_databases != None %}
{% for item in mysql_create_databases %}
createDatabase {{ item.databaseName }} {{ item.databaseFile }}
{% endfor %}
{% endif %}
