# The number of milliseconds of each tick
tickTime=2000

# The number of ticks that the initial
# synchronization phase can take
initLimit=20

# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit=10

# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just
# example sakes.
dataDir={{ zookeeper_parent_dir }}/{{ zookeeper_tar_name }}/data
dataLogDir={{ zookeeper_parent_dir }}/{{ zookeeper_tar_name }}/dataLogDir

# the port at which the clients will connect
clientPort=2181

quorumListenOnAllIPs=true

server.1={{ groups.zookeeper_cluster[0] }}:2888:3888
server.2={{ groups.zookeeper_cluster[1] }}:2888:3888
server.3={{ groups.zookeeper_cluster[2] }}:2888:3888