#!/bin/sh
# chkconfig: 2345 60 60
# description: service for cassandra 3.11.4
# processname: cassandra

CASSANDRA_DIR="{{ cassandra_home_path }}/{{ cassandra_package_name }}"

case "$1" in
start)
echo "Starting cassandra"
su - cassandra -c nohup -c "$CASSANDRA_DIR/bin/cassandra" >> $CASSANDRA_DIR/logs/system.log 2>&1 &
echo "Cassandra started"
;;
stop)
echo "Stopping cassandra"
PID_COUNT=`ps aux |grep CassandraDaemon |grep -v grep | wc -l`
PID=`ps aux |grep CassandraDaemon |grep -v grep | awk {'print $2'}`
if [ $PID_COUNT -gt 0 ];then
echo "Try stop cassandra"
kill -9 $PID
echo "Kill cassandra SUCCESS!"
else
echo "There is no cassandra!"
fi
;;
restart)
echo "Restarting cassandra"
$0 stop
$0 start
;;
status)
-c "$CASSANDRA_DIR/bin/nodetool status"
;;
*)
echo "Usage:$0 {start|stop|restart|status}"
exit 1
esac