#!/bin/bash

# 登录账号
function mcLogin(){
    {{ minio_base_dir }}/bin/mc config host add minio http://{{ inventory_hostname }}:{{ minio_port }} {{ minio_access_key }} {{ minio_secret_key }} --api s3v4
}
# 创建桶
function createBucket(){
  cd {{ minio_base_dir }}/bin
  ./mc ls minio |grep -q $1
  if [ $? -ne 0 ]; then
    ./mc mb minio/$1
    echo "$1 桶创建成功"
    ./mc policy set public minio/$1
    echo "$1 桶设置公开访问策略"
  else
    echo "$1 桶已经存在"
  fi
}

# 上传文件
function updateFile(){
  cd {{ minio_base_dir }}/bin
  folder=$1
  softfiles=$(ls $folder)
  for sfile in ${softfiles}
  do
     echo "上传文件：${sfile}"
     ./mc cp ${folder}/${sfile} minio/$2/${sfile}
  done
}

mcLogin

{% for item in minio_create_buckets %}
createBucket {{ item.name }}
updateFile  {{ minio_base_dir }}{{ item.localPath }}  {{ item.name }}{{ item.remotePath }}
{% endfor %}


