#!/bin/sh

{{ redis_parent_dir }}/{{ redis_version }}/src/redis-server {{ redis_parent_dir }}/{{ redis_version }}/redis.conf

{{ redis_parent_dir }}/{{ redis_version }}/src/redis-sentinel {{ redis_parent_dir }}/{{ redis_version }}/sentinel.conf
